@charset "UTF- 8";

.nav-link {
	color:white !important;
}
.container{
    padding-top:30px;
    padding-bottom: 30px;
}
.card {
    color: #005757;
    padding: 20px;
    
    
}
 .bg-dark{
     background-color:#005757 !important ;
 }
.nav item {
color: #005757;
}


.footer{
	background-color: #005757;	
	height: 60px;
	color: white;
	font-size: .8rem;
	text-align: center;
	padding-top: 20px;
   
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.serif-h1, .serif-h2, .serif-h3, .serif-h4, .serif-body, .serif-emp, .serif-link{
    font-family:'Noto Serif', serif;
}

.serif-h1{
    font-weight: 700;
    font-size: 4.209rem;
}

.serif-h2{
    font-weight: 500;
    font-size: 3.157rem;
}

.serif-h3{
    font-weight: 200;
    font-size: 2.369rem;
}

.serif-h4{
    font-weight: 400;
    font-size: 1.777rem;
}

.serif-body{
    font-weight: 400;
    font-size: 1rem;
}

.serif-emp{
    font-weight: 700;
    font-size: 1rem;
}

.serif-link{
    font-weight: 400;
    font-size: 1rem;
    color: darkblue;
}